{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row" style="padding-top: 7%;" >
    
    {% for project in projects %}    
      <div class="col-md-1"></div>
      <div class="col-md-4" style="padding-bottom: 5px; " ><br>
        <h1> {{project.title}} </h1>
        <p> <strong>By: </strong> {{project.profile}}</p>
        <img src="{{project.image.url}}" alt="image" style="width: 300px; padding-bottom: 20px;" >
        <p> {{project.description}} </p>
        <p><strong> Project Link: </strong><a href="{{project.link}}" target="_blank" >{{project.link}}</a></p>
        <hr>             
      </div>
      <div class="col-md-1"></div>      
    {% empty %}
      <h1>No projects to display</h1>
    {% endfor %}    
    
  </div>
</div>
{% endblock %}