{% extends 'base.html' %}
{% load bootstrap4 %} 
{% block content %}
{% include 'navbar.html' %}
  <div class="container-fluid">
    <div class="row" style="padding-top: 50px;" >
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form   action="{%url 'new-project'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}

        {% bootstrap_form form%}
        <input type="submit" class="btn btn-success btn-lg"  value="Add">        
      </form>      
    </div>
    <div class="col-md-4"></div>
    </div>
  </div>
{% endblock %}